@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

body{
    background: linear-gradient(90deg, green,
    green);
    padding: 20px;
}

.container-all{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
}
.ctn-form{
    width: 80%;
    padding: 40px;
    background: #f7f7f7;
}
.title{
    text-align: center;
    margin-top: 20px;
    font-weight: 300;
    color: #7a7a7a;
}
label{
    display: block;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 300;
    color: #7a7a7a;
}
input[type="text"],
input[type="password"]{
    width: 100%;
    height: 30px;
    background: transparent;
    border: 0px;
    outline: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    color: #428000;
    font-size: 16px;
}
input[type="submit"]{
    width: 100%;
    height: 50px;
    margin-top: 60px;
    color: white;
    border: 0px;
    background: linear-gradient(90deg, green,
    green);
    font-weight: 300;
    cursor: pointer;
    font-size: 18px;
}
input[type="submit"]:hover{
    background: linear-gradient(90deg, #005000,
    #005000);
}
.text-footer{
    display: block;
    margin-top: 100px;
    text-align: center;
    color: #7a7a7a;
    font-weight: 500;
}

.text-footer a{
    color: #318CE7;
    font-weight: 500;
}

/*  bloque 2 */

.ctn-txt{
    width: 100%;
    background: linear-gradient(135deg,#0D47A1,#154360);
    background-position: center;
    background-size: cover;
    padding: 40px;
}

.title-description{
    text-align: center;
    top: 75px;
    color: white;
    font-weight: 300;
    font-size: 40px;
}

@media screen and (max-width: 800px){
    .ctn-txt{
        display: none;
    }
    .ctn-form{
        margin: auto;
        width: 100%;
        background:white;
    }
}

.msg-error{
    color: red;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}